/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
 }

header {
	width: 100%;
	padding: 15px 0;
	margin: 0 auto;
	text-align: center;
	background-color: #f7f7f7;
	position: sticky;
}

.nav-list {
	text-align: center;
	padding: 10px 0;
	margin: 0 auto;
	background-color: #f7f7f7;
}
.nav-list-item {
	display: inline-block;
	margin: 0 20px;
}

ul {
	list-style: none;
}

h2 {
	text-align: center;
	border-bottom: 8px solid #f7f7f7;
	line-height: 0.6;
	padding-top: 30px;
}

// サイドバー
.category-headline{
	font-size: 20px;
	border-bottom: 8px solid #f7f7f7;
	line-height: 0.6;
	padding-top: 40px;
}
.category-list{
	padding: 5px 0;
}

// top
.site-about {
	text-align: center;
	margin-top: 40px;
	font-size: 20px;
}

// 投稿一覧
.post-all {
	margin: 10px;
}
.post-each {
	margin: 20px;
}
.post-title {
	margin-bottom: 10px;
	font-size: 25px;
}
.post-item {
	padding-left: 15px;
}

.category-index{
	width: 70%;
	margin: auto;
}

// 新規投稿
.post-new {
	width: 70%;
	margin: auto;
}

// 投稿編集
.post-edit {
	width: 70%;
	margin: auto;
}

#back {
	position: fixed;
	right: 40px;
	bottom: 40px;
}